[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/bordeaux-theme"]
	path = themes/bordeaux-theme
	url = git@github.com:osunyorg/bordeaux-theme.git
[submodule "themes/bordeaux-program-theme"]
	path = themes/bordeaux-program-theme
	url = git@github.com:osunyorg/bordeaux-program-theme.git
